{% extends 'base.html' %}
{% block title %}BP Добавить транзакцию{% endblock %}

{% block content %}
<h3>Добавление транзакций</h3>
  <form id="operation-form" class="balance_form">
  <table class="balance_table">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Дата</td>
        <td><input type="date" name="date" id="date"></td>
      </tr>
      <tr>
        <td>Тип транзакции</td>
        <td>
          <div class="toggle-group">
            <label class="toggle-option">
              <input type="radio" name="type" id="expense" value="expense" class="toggle-input" checked>
              Расход
            </label>
            <label class="toggle-option">
              <input type="radio" name="type" id="income" value="income" class="toggle-input" required>
              Доход
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Категория</td>
        <td>
          <select name="category" id="category">
            <option value="Доход">Доход</option>
            <option value="Еда">Еда</option>
            <option value="Коммуналка">Коммуналка</option>
            <option value="Лекарства">Лекарства</option>
            <option value="Развлечения">Развлечения</option>
            <option value="Прочее">Прочее</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Сумма</td>
        <td><input type="number" name="amount" id="amount" step="0.01" required></td>
      </tr>
      <tr>
        <td>Налог (%)</td>
        <td><input type="number" name="tax_rate" id="tax_rate" step="0.01" disabled></td>
      </tr>
      <tr>
        <td>Комментарий</td>
        <td><input type="text" name="comment" id="comment"></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="submit_btn">Добавить операцию</button>
</form>

{% endblock %}

{% block js %}<script src="{{ url_for('static', filename='js/add_transaction.js') }}"></script>{% endblock %}