{% extends 'base.html' %}

{% block title %}
BP Лог
{% endblock %}


{% block content %}
<div class="log-block" id="transaction-log">
          <div id="transactions">
            {% for transaction in transactions %}
              <p class="transaction {% if transaction.type == 'income' %}income{% endif %}">
                  ID: {{ transaction.id }}, 
                  Дата: {{ transaction.timestamp }}, 
                  Тип: {{ transaction.type }}, 
                  Сумма: {{ transaction.amount }}, 
                  Комментарий: {{ transaction.comment or 'Нет комментария' }}, 
                  {% if transaction.type == 'expense' %}Категория: {{ transaction.category or 'Нет категории' }}{% endif %} 
                  {% if transaction.type == 'income' %}Налоговый статус: {{ transaction.tax_status or 'Нет статуса' }}{% endif %}
              </p>
            {% else %}
              <p>
                Нет транзакций для отображения.
              </p>
            {% endfor %}
          </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/log.js') }}"></script>
{% endblock %}